rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /avatars/{userId}.jpg {
      allow read: if request.auth != null && request.auth.token.orgId != null;
      allow write: if false;
    }
  }
}
